.navbarCon
{
    display: flex;
    flex: 2;
    background-color:#000037;
}

.navbarLink
{
    flex: 1;
    text-decoration: none;
    font-weight: 800;
    color: white;
    font-size: large;
    padding: 1%;
    text-align: center;
    margin: 0%;
}